@font-face {
	font-family: Paradigm; 
	src: url('../fonts/style_169778.eot');	
	src: url('../fonts/style_169778.ttf') format('truetype');
	src: url('../fonts/style_169778.woff') format('woff');
}

body {
	font-family: Paradigm;
}

#home img, .work img {
	max-width: 100%;	
	display: block;
	margin: 0 auto;
}

header, footer {
	background-image: url('../images/bg.jpg');	
}

footer {	
	text-align: center;
	font-size: .8em;
}

h1, h2, h3, h4, nav#main a, footer p {
	font-weight: normal;
}

.gallnav {
	border: thin solid #a9a085;
	border-radius: .25em;
	margin-bottom: .5em;
	overflow: hidden;	
}

.gallnav img {
	max-width: 33%;
	min-width: 150px;
	float: left;
	clear: left;
	margin-right: 1em;
}

.gallnav p {
	font-size: .8em;
	line-height: 1.5em;
	font-weight: normal;
}

.gallnav > a.ui-link {
	text-decoration: none;
	font-family: Paradigm !important;
}

#siteId {
	margin: 1em auto 0;
	height: 89px;
	background: url('../images/rusticportraitslogo.png') top center no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}